:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: inline-grid;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: 10vw;
  height: 10vw;
}

.grid-item {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;

}

#reset {
  margin: 10px;
  text-align: center;
}

#button-container {
  text-align: center;
}
